.App {
  background: linear-gradient(
    112.1deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  );
  margin: 0 auto;
  text-align: center;
  color: white;
  padding-bottom: 7%;
  padding-top: 3%;
}

.App > h1 {
  padding-bottom: 20px;
}

.App > p {
  padding-top: 20px;
}

.App .footer {
  font-size: 12px;
}
